* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #ffe9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.input-area {
  display: flex;
  gap: 5px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
  background-color: #b97cab;
  border: none;
  color: white;
}

ul {
  list-style: none;
  margin-top: 15px;
}

li {
  background: #eee;
  padding: 8px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.task-buttons {
  display: flex;
  gap: 8px;
}

.done {
  color: green;
  cursor: pointer;
  font-weight: bold;
}

.delete {
  color: red;
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete {
  color: red;
  cursor: pointer;
}
