body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* NAV */
nav img {
  width: 100px;
  height: auto;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #860c62;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

nav a:hover {
  color: #c2185b;
}

/* CARROSSEL */
.carrosel-container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

.carrosel {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
}

.carrosel img {
  width: 100%;
  flex-shrink: 0;
  height: 500px;
  object-fit: cover;
}

/* PRODUTOS */
.produtos {
  text-align: center;
  padding: 60px 20px;
  background-color: #fff;
  grid-template-columns: repeat(4, 1fr); 
}

.produtos h2 {
  font-size: 2em;
  font-weight: 700;
  color: #860c62;
  margin-bottom: 40px;
  text-transform: uppercase;
}

/* Contêiner dos cards */
.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.produto {
  width: 250px;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.produto:hover {
  transform: scale(1.05);
}

.produto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.preco {
  color: #c2185b;
  font-weight: bold;
  margin: 10px 0;
  display: block;
}

button {
  background-color: #860c62;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background-color: #a61d7a;
}

/* FOOTER */
footer {
  background-color: #a61d7a;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }

  .carrosel img {
    height: 250px;
  }

  .lista-produtos {
    flex-direction: column;
    align-items: center;
  }

  .produto {
    width: 90%;
  }
}
